<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LISTAGEM DE PRODUTOS</title>
</head>
<body>
<h1>LISTAGEM DE PRODUTOS</h1>
<button onclick="location='{% url 'form_produto' %}'">Novo</button> <br> <br>
<table border="1" width="400">
    <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Valor (R$)</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Teclado</td>
        <td>2500,00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Monitor</td>
        <td>500,00</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Roteador Wi-FI</td>
        <td>150,00</td>
    </tr>
</table>

</body>
</html>